
/*Login*/
html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #d2d2e0, #e6e3f1);
}
.loginContainer {
    text-align: center;
    font-family: 'Aharoni', serif;
    justify-content: center;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    direction: rtl;
}


.Login-header {
    margin-bottom: 20px;
}

.center-field {
    margin-top: 20px;
}

.signin-field {
    width: 250px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Aharoni, serif;
    outline: none;
}



.signin-button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 5px;
    background-color: #7d7df3;
    color: #fff;
    font-family: 'Aharoni', serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-button:hover {
    background-color: #5a5acf;
}

.signin-button:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
}

.Details-message {
    margin-top: 10px;
    color: #ff5555;
}

/* Additional styling for select element */
.signin-field select {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Additional styling for input placeholder */
.signin-field::placeholder {
    color: #ccc;
}

/* Additional styling for form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Home*/

.container{


}

.home-container{
    text-align: center;
    font-family: Aharoni, serif;
    justify-content: center;
}

.logout-button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ef0527;
    color: #fff;
    font-family: 'Aharoni', serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.logout-button:hover {
    background-color: #b40922;
}


.meeting-button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #7d7df3;
    color: #fff;
    font-family: 'Aharoni', serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}


.meeting-button:hover {
    background-color: #5a5acf;
}

/* Additional styling for focus state (optional) */
.meeting-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(125, 125, 243, 0.5);
}

.meeting-button:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
}

.add-meeting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    direction: rtl;
    font-size: 18px;
}

.meeting-field{
    margin-left: 2px;
    /*border: none;*/
    outline: none;
    font-family: Aharoni,'serif';
    width: 150px;
    font-size: 20px;
    display: flex;
}

.meeting-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    font-size: 20px;
}

.meeting-content {
    border: 1px solid #5e5ec0;
    border-radius: 8px;
    padding: 15px;
    width: 800px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


.meeting-content:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.meeting-details {
    display: flex;
   justify-content: space-between;


}


.meeting-details-button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #2e720c;
    color: #fff;
    font-family: 'Aharoni', serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;

}

.meeting-details-button:hover {
    background-color: #225708;
}

/* Additional styling for focus state (optional) */
.meeting-details-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(125, 125, 243, 0.5);
}

.hour-meeting-field{
    width: 46px;
    margin: 2px;
    outline: none;
    font-family: Aharoni,'serif';
    font-size: 20px;
    display: flex;
    -moz-appearance: textfield; /* Firefox */

}

.hour-meeting-field::-webkit-inner-spin-button,
.hour-meeting-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.meeting-text{
    margin: 10px;
}

.side-bar {
    display: flex;
    margin-right: 10px;
    font-family: Aharoni, serif;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.logo-img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 30px;
}

.time-field{
    margin-left: 2px;
    height: 22px;
    font-family: Aharoni,'serif';
    font-size: 20px;
}
